{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 * Theme: pixture_reloaded
 * Generated on: Wed, 08 Nov 17 10:56:52 +1300
 */
#}
{{ attach_library('pixture_reloaded/pixture_reloaded.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
